
<div class="row product">
    <div class="col-md-3">
        <div class="card" >
            <img src="/images/1.jpg" class="card-img-top image_card" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    Brand	Dell <br>
                    Series	VOSTRO 3510 i7 16G 1T 256SSD <br>
                    Screen size	15.6 Inches <br>
                    Colour	Black <br>
                    Hard disk size	1 TB <br>
                    CPU model	Intel Core i7-1165G7 <br>
                    Installed RAM memory size	16 GB <br>
                </p>
                <div class="">
                    <div class="price float-left">
                        <h4>200 $</h4>
                    </div>
                    <a href="#" class="btn btn-success float-right">BUY</a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" >
            <img src="/images/1.jpg" class="card-img-top image_card" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    Brand	Dell <br>
                    Series	VOSTRO 3510 i7 16G 1T 256SSD <br>
                    Screen size	15.6 Inches <br>
                    Colour	Black <br>
                    Hard disk size	1 TB <br>
                    CPU model	Intel Core i7-1165G7 <br>
                    Installed RAM memory size	16 GB <br>
                </p>
                <div class="">
                    <div class="price float-left">
                        <h4>200 $</h4>
                    </div>
                    <a href="#" class="btn btn-success float-right">BUY</a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" >
            <img src="/images/1.jpg" class="card-img-top image_card" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    Brand	Dell <br>
                    Series	VOSTRO 3510 i7 16G 1T 256SSD <br>
                    Screen size	15.6 Inches <br>
                    Colour	Black <br>
                    Hard disk size	1 TB <br>
                    CPU model	Intel Core i7-1165G7 <br>
                    Installed RAM memory size	16 GB <br>
                </p>
                <div class="">
                    <div class="price float-left">
                        <h4>200 $</h4>
                    </div>
                    <a href="#" class="btn btn-success float-right">BUY</a>
                </div>

            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="card" >
            <img src="/images/1.jpg" class="card-img-top image_card" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    Brand	Dell <br>
                    Series	VOSTRO 3510 i7 16G 1T 256SSD <br>
                    Screen size	15.6 Inches <br>
                    Colour	Black <br>
                    Hard disk size	1 TB <br>
                    CPU model	Intel Core i7-1165G7 <br>
                    Installed RAM memory size	16 GB <br>
                </p>
                <div class="">
                    <div class="price float-left">
                        <h4>200 $</h4>
                    </div>
                    <a href="#" class="btn btn-success float-right">BUY</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row product">
    <div class="col-md-3">
        <div class="card" >
            <img src="/images/1.jpg" class="card-img-top image_card" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    Brand	Dell <br>
                    Series	VOSTRO 3510 i7 16G 1T 256SSD <br>
                    Screen size	15.6 Inches <br>
                    Colour	Black <br>
                    Hard disk size	1 TB <br>
                    CPU model	Intel Core i7-1165G7 <br>
                    Installed RAM memory size	16 GB <br>
                </p>
                <div class="">
                    <div class="price float-left">
                        <h4>200 $</h4>
                    </div>
                    <a href="#" class="btn btn-success float-right">BUY</a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" >
            <img src="/images/1.jpg" class="card-img-top image_card" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    Brand	Dell <br>
                    Series	VOSTRO 3510 i7 16G 1T 256SSD <br>
                    Screen size	15.6 Inches <br>
                    Colour	Black <br>
                    Hard disk size	1 TB <br>
                    CPU model	Intel Core i7-1165G7 <br>
                    Installed RAM memory size	16 GB <br>
                </p>
                <div class="">
                    <div class="price float-left">
                        <h4>200 $</h4>
                    </div>
                    <a href="#" class="btn btn-success float-right">BUY</a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" >
            <img src="/images/1.jpg" class="card-img-top image_card" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    Brand	Dell <br>
                    Series	VOSTRO 3510 i7 16G 1T 256SSD <br>
                    Screen size	15.6 Inches <br>
                    Colour	Black <br>
                    Hard disk size	1 TB <br>
                    CPU model	Intel Core i7-1165G7 <br>
                    Installed RAM memory size	16 GB <br>
                </p>
                <div class="">
                    <div class="price float-left">
                        <h4>200 $</h4>
                    </div>
                    <a href="#" class="btn btn-success float-right">BUY</a>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" >
            <img src="/images/1.jpg" class="card-img-top image_card" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    Brand	Dell <br>
                    Series	VOSTRO 3510 i7 16G 1T 256SSD <br>
                    Screen size	15.6 Inches <br>
                    Colour	Black <br>
                    Hard disk size	1 TB <br>
                    CPU model	Intel Core i7-1165G7 <br>
                    Installed RAM memory size	16 GB <br>
                </p>
                <div class="">
                    <div class="price float-left">
                        <h4>200 $</h4>
                    </div>
                    <a href="#" class="btn btn-success float-right">BUY</a>
                </div>

            </div>
        </div>
    </div>
</div>